.displayWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #edbb99;
  border-color: #edbb99;
  border-width: 1px;
  height: 65px;
  
  padding-right: 10px;
  padding-left: 10px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;

  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.displayText {
  font-size: 20px;
  font-weight: bold;
  font-family: ZenDots-Regular;
  color: #555;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
