.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.numberButton {
  color: #566573;
}

.operationButton {
  color: #2E86C1;
}

.clearButton {
  color: #A93226;
}
