.calculatorUIWrapper {
  display: flex;
  flex-direction: column;
  height: 645px;
  width: 380px;
  border-color: lightgray;
  border-width: 2;
  background-color: #fef5e7;
  padding: 0 10px 10px 10px;

  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
